{% extends 'header.html' %}
{% load static %}
{% block content %}

<!doctype html>
<html class="no-js" lang="zxx">

<head>
    
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->

    <!-- header-end -->

    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="single_slider  d-flex align-items-center slider_bg_1">
            <div class="shap_pattern d-none d-lg-block">
                <img src="{% static 'img/about/hvv-new.png' %}" alt="">
            </div>
            
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-12">
                        <div class="slider_text" style="margin-left: 120px" style="font-color: white">
                            <h1>Hello, <br></h1>
                        </div>     
                        <div class="slider_text text-center"> 
                            <h3>I Am Himanshu Vaniya</h3>
                            <span>Backend Web Developer</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider_area_end -->

    <!-- service_area  -->
    <div class="service_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-65">
                        <span>Service Provided</span>
                        <h3>Build any type of websites <br> & Write its logic</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-md-4">
                    <div class="single_service text-center">
                        <div class="icon">
                            <img src="{% static 'img/svg_icon/1.svg' %}" alt="">
                        </div>
                        <h3>Python developement</h3>
                        <p>Solve any type of coding related query using python. and also develope new python logic for projects.</p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single_service text-center">
                        <div class="icon">
                            <img src="{% static 'img/svg_icon/2.svg' %}" alt="">
                        </div>
                        <h3>Web backend developement</h3>
                        <p>Provide templates integration using python django framework. make any type of websites depending on customers requirements.</p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single_service text-center">
                        <div class="icon">
                            <img src="{% static 'img/svg_icon/3.svg' %}" alt="">
                        </div>
                        <h3>Provide business logic</h3>
                        <p>Create business logic depending on users requirements .</p>
                    </div>
                </div>
            </div>
        </div>
    </div>   
    <!--/ service_area  -->  

    <!-- portfolio_area -->
    <div class="portfolio_area portfolio_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title white_text text-center">
                        <span>Portfolios</span>
                        <h3>Some of my awesome <br>
                                stuffs here</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ portfolio_area -->

    <!-- portfolio_image_area  -->
    <div class="portfolio_image_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_Portfolio" >
                        <div class="portfolio_thumb">
                            <img src="{% static 'img/portfolio/admin.png' %}" alt="">
                        </div>
                        <div class="portfolio_hover">
                            <div class="title">
                                <li class="nav-item active"><a href="http://himanshu97.pythonanywhere.com/" class="nav-link"><h3>Django admin</h3></a></li>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_Portfolio">
                        <div class="portfolio_thumb">
                            <img src="{% static 'img/portfolio/eshoper.png' %}" alt="">
                        </div>
                        <div class="portfolio_hover">
                            <div class="title">
                                <li class="nav-item active"><a href="https://vaniya8.pythonanywhere.com/" class="nav-link"><h3>E-shop(Clothing)</h3></a></li>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_Portfolio">
                        <div class="portfolio_thumb">
                            <img src="{% static 'img/portfolio/minishop.png' %}" alt="">
                        </div>
                        <div class="portfolio_hover">
                            <div class="title">
                                <li class="nav-item active"><a href="http://minishop97.pythonanywhere.com/" class="nav-link"><h3>Minishop(Shoes)</h3></a></li>  
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_Portfolio">
                        <div class="portfolio_thumb" >
                            <img src="{% static 'img/portfolio/restapi.png' %}" alt="">
                        </div>
                        <div class="portfolio_hover">
                            <div class="title">
                                <li class="nav-item active"><a href="http://himanshu31.pythonanywhere.com/api/books" class="nav-link"><h3>RestAPI</h3></a></li>
                            </div>
                        </div>   
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_Portfolio">
                        <div class="portfolio_thumb">
                            <img src="{% static 'img/portfolio/1.jpg' %}" alt="">
                        </div>
                        <a href="#" class="popup popup-image"></a>
                        <div class="portfolio_hover">
                            <div class="title">
                                <h3>Project 5</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="more_portfolio text-center">
                        <a class="line_btn" href="#">More Folio</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ portfolio_image_area  -->

    <!-- about_me  -->
    <div class="about_me">
        <div class="about_large_title d-none d-lg-block">
                About
        </div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-md-6">
                    <div class="about_e_details">
                        <h3>About me</h3>
                        <p>
                            Hii, <br> I am a fresher python backend web developer(Django Framework).Looking for career opportunity in web development.<br><br> 

                            Name : Himanshu Vaniya <br>
                            Place : Sanand,Ahmedabad
                            Age : 26 <br>
                            Qualification : B.E(E.C.E) <br>
                            Language : Gujrati,Hindi & English <br>
                            Date Of Birth : 31/08/1997
                        </p>
                        <div class="download_cv">
                            <a class="boxed-btn3" href="{% static 'Job CV/Himanshu CV.pdf' %}" download="pdf">Download CV</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="about_img">
                        <div class="color_pattern d-none d-lg-block">
                            <img src="" alt="">
                        </div>
                        <div class="my_Pic">
                                <img src="" alt="" height="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ about_me  -->

    <div class="counter_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-4">
                    <div class="single_counter text-center">
                        <h3>
                            <span class="counter" >4 </span><span>+</span>
                        </h3>
                        <p>Total Projects</p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single_counter text-center">
                        <h3>
                            <span class="counter">1 </span>
                        </h3>
                        <p>On Going Projects</p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single_counter text-center">
                        <h3>
                            <span class="counter" >95 </span> <span>%</span>
                        </h3>
                        <p>Job Success</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- testimonial_area  -->
    
    <!-- /testimonial_area  -->

    <!-- footer start -->
    
    <!--/ footer end  -->

    <!-- JS here -->
    
</body>

</html>
{% endblock %}